# Capstone Project - Likes Forecaster

## Introduction/Business Problem

This project aims to construct a regression model for the task of forecasting the number of likes that has each venue. For the purpose of simplicity, we will only consider venues located in New York City. The project is directed to an audience of business owners, or potential business owners, that would like to know which features could enchance their popularity in FourSquare (measured as the number of likes in the platform). We will use the FourSquare API for retrieving the information related with the venues, including their location, category, and number of likes. Also, we will associate each venue with a neighborhood and a borough of New York.

## Data 

The Datasets that will be used in this project are:

- **newyork_data.json**: Given in the notebook *DS0701EN-3-3-2-Neighborhoods-New-York-py-v1.0.ipynb* from the third week of the Capstone project. It includes the data of the neighborhoods of New York City, their Borough, latitude and longitude.

- **FourSquare Data**: From the FourSquare API we will need the information of the venues that are near to certain neighborhoods of Ney York. The venues information includes their latitude, longitude, id, and category. After that, we will use the id of each venue for getting their number of likes.

As the dataset is alredy constructed, a few rows of it will be shown below.

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('venues_likes_NYC.csv')
df.head()

,Neighborhood,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category,id,likes
0,Concourse Village,40.824780,-73.915847,Perry Coffee Shop.,40.823181,-73.910928,Diner,4fa534cee4b0fed4819dc7d4,8
1,Bedford Park,40.870185,-73.885512,Lena Restaurant,40.869840,-73.890467,Mexican Restaurant,4c1bce70b306c92839d262b7,3
2,Ozone Park,40.680708,-73.843203,Dunkin' / Baskin-Robbins,40.681115,-73.845119,Donut Shop,4c252a61c11dc9b634bc2624,39
3,Tudor City,40.746917,-73.971219,Baby Bo's Cantina,40.745048,-73.975748,Mexican Restaurant,3fd66200f964a52049e71ee3,183
4,Morningside Heights,40.808000,-73.963896,Dig Inn,40.805561,-73.965348,American Restaurant,52ebf72a498ed778f4b60252,187

The column id is related with the venue id given in FourSquare.